* {
    margin: 0;
    padding: 0;    
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

header {
    background: #f4f4f4;
    padding: 1rem;
    text-align: center;
}
.drpDwn {
    text-align: center;
    margin: auto;
    width: 500px;
    overflow: auto;
    padding: 1rem 1rem;
    list-style: none; 
}
.menus{
    margin-bottom: 40px; 
}
.picture img{
    width: 150px;
}

